.container {
  overflow: hidden;
  .book-carousel {
    padding: 3rem;
    text-align: center;
    margin-bottom: 5rem;
    .see-all{
      font-weight: 800;
      color: #4285F4;
      text-decoration: none;
    }
  }
}
