.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.4rem;
    font-size: 1.6rem;
    align-items: center;
}

.navbar-brand{
    cursor: pointer;
}

.nav-items > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-items>ul>li {
    margin-right: 2.4rem;
    padding: 1.4rem;
    cursor: pointer;
}

.nav-items>ul>li:last-child {
    margin-right: 0;
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
    padding: 1.4rem 2.4rem;
}
.nav-items>ul>li:first-child {
    font-weight: 800;
}
.nav-items>ul>li:nth-child(4) {
    color: #F2C94C;
}