.card {
  padding: 0.5rem;
  text-align: center;
  .card-body {
    background-color: #FFFFFF;
    border-radius: 2rem;
    padding: 3rem;
    display: block;

    img {
      background-color: rgb(139, 218, 136);
      width: 20.8rem;
      height: 30.2rem;
      border-radius: 2rem;
      margin-top: -7rem;
    }

    .card-title {
      padding: 3rem 0 0rem 0;
      font-size: 1.6rem;
      font-weight: 400;
    }

    .rating {
      font-size: 4rem;
    }
  }
}
