.publish-section {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 5rem;
  .top-book{

  }
  .main{
    padding: 7rem;
    background-color: yellow;
  }
  .bottom-book{

  }
}
