$primary-color: #F2C94C;
$white: #fff;
$secondary-color: #4285F4;
$dark-background: #212121;
$light-text: #575757;
$dark: #212121;
$info-bg: #FFD166;
$info-color: #000;
$error-bg: #d93148;
$error-color: #fff;
$success-bg: #42ba96;
$success-color: #fff;
